div{
    padding:8px;
}

.mainContent{
    float:left;
}

.generalFrame{
    width:100%;
    padding:20px;
    border-color: rgb(17, 90, 158);
    border: solid;
    border-width: 0px 0px 1px 0px;
    background-color: rgb(5, 53, 97);
}

h1{
    margin:0px;
    padding:4px;
}

body{
    background-color: rgb(184, 184, 184);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(5, 53, 97);
    margin: 0px;
}

.navBarLeft{
    border-color: rgb(17, 90, 158);
    border: solid;
    border-width: 0px 1px 0px 0px;
    background-color: rgb(236, 238, 240);
    height: 100%; /* 100% Full-height */
    /*position: fixed; /* Stay in place */
    float: left;
   }   

a{
    color:rgb(5, 53, 97);
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
}

.homelink{
    font-size: 46px;
    font-weight: bold;
    color: rgb(236, 238, 240) !important;
}

.homelink:hover{
    font-size:48px;
}

a:hover{
    color:rgb(29, 129, 223);
}

.navBarLeft a{
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    display: block;
    
}
