<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>EWD</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/ewd.css">
</head>

<body>
	<div class="generalFrame">
		<a href="index" class="homelink">EWD</a></div>
	<div class="navBarLeft">
		<a href="mitarbeiter">Mitarbeiter anzeigen</a>
		<a href="RefreshKIMs">KIMs aktualisieren</a>
	</div>
	<div class="mainContent">
		<div th:replace="${fragment} :: ${fragmentElement}"></div>
		<!--			<div th:replace="/fragments/testfragment :: testfragment">2016 The Static Templates</div>
			<div th:replace="/fragments/testfragment :: testfragment">2016 The Static Templates</div>-->
	</div>

</body>

</html>