<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>EWD</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/ewd.css">
</head>

<body>
	<div class="generalFrame">
		<a href="index" class="homelink">EWD</a></div>
		<div class="navBarLeft">
			<a>Mitarbeiter anzeigen</a>
			<a href="RefreshKIMs">KIMs aktualisieren</a>
		</div>
		<div class="mainContent">
			<h2>2</h2>
		</div>
	
</body>

</html>