<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <table><tr><td><label>Nachname</label></td><td><input type="text" th:value="${nachname}"></td>
        <td><label>Vorname</label></td><td><input type="text" th:value="${vorname}"></td></tr>
        <tr><td><label>EMail</label></td><td><input type="text" th:value="${email}"></td>
          <td><label>UserID</label></td><td><input type="text" th:value="${userId}"></td></td></tr>
      </table>
      <div class="noSidePad"><button>KIM aus Personalsystem aktualisieren</button></div>
  </body>
</html>