<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <label>Technischer Nutzer</label>
    <select>
      <option value="a">a</option>
      <option value="b">b</option>
      <option value="c">c</option>
      <option value="d">d</option>
    </select>
    <table><tr><th>Feld</th><th>Wert</th></tr><tr><td><input type="text"></td><td><input type="text"></td></tr>
      <tr><td><input type="text"></td><td><input type="text"></td></tr>
      <tr><td><input type="text"></td><td><input type="text"></td>
       </tr></table>


  </body>
</html>