<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <label>User</label>
    <select>
      <option>a</option>
      <option value="b">b</option>
      <option value="c">c</option>
      <option value="d">d</option>
    </select>
    <h2>Scope</h2>
    <textarea rows="4"></textarea>
    <table><tr><th><label>Feld</label></th><th><label>Wert</label></th></tr><tr><td><input type="text"></td><td><input type="text"></td></tr>
      <tr><td><input type="text"></td><td><input type="text"></td></tr>
      <tr><td><input type="text"></td><td><input type="text"></td>
       </tr></table>
  </body>
</html>