<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <table>
    <tr>
      <td><label>ID</label></td>
      <td><input id="ServiceID" type="text"></td>
      <td><select id="ServiceIdSelect"></select></td>
      <td><label>Name</label></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td><label>Version</label></td>
      <td><input id="ServiceVersion" type="text"></td>
      <td><label>Endpoint</label></td>
      <td><input id="ServiceEndpoint" type="text"></td>
      </td>
    </tr>
  </table>
  <h2>Quelle</h2>
  <textarea id="RestSource" rows="4"></textarea>
</body>
</html>